secrets.py
.DS_Store
.idea
.idea/.idea.PineCube.dir/venv/bin/
.idea/.idea.PineCube.dir/venv/include/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/easy_install.py
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/pip-20.1.1.dist-info/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/pip/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/pkg_resources/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/common/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/android/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/blackberry/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/chrome/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/common/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/common/actions/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/common/html5/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/edge/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/firefox/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/ie/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/opera/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/phantomjs/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/remote/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/safari/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/support/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/selenium/webdriver/webkitgtk/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/setuptools-49.2.0.dist-info/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/setuptools/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/urllib3/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/urllib3/contrib/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/urllib3/contrib/_securetransport/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/urllib3/packages/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/urllib3/packages/backports/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
.idea/.idea.PineCube.dir/venv/lib/python3.6/site-packages/urllib3/util/__pycache__/
.idea/.idea.PineCube.dir/venv/pyvenv.cfg
__pycache__/
Notation Images/Folded/Colored/D'-Notation-Colored.png
Notation Images/Folded/Colored/D-Notation-Colored.png
Notation Images/Folded/Colored/L'-Notation-Colored.png
Notation Images/Folded/Colored/L-Notation-Colored.png
Notation Images/Folded/Colored/R'-Notation-Colored.png
Notation Images/Folded/Colored/R-Notation-Colored.png
Notation Images/Folded/Colored/U'-Notation-Colored.png
Notation Images/Folded/Colored/U-Notation-Colored.png
Notation Images/Folded/No Color/
Notation Images/Nets/


# Personal Thing, just ignore it but keep it in this ignore
desktop.ini